
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 1%;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.linkhai {
    color:white;
    }
.linkhai:hover {
    color:orange;
    font-size:30px;
    }
.content{
    text-align: center;
     color: white;
     background-color: black;
     margin-top: 7%;
}
.intro {
    padding: 60px 20px;
    text-align: center;
    font-size: 30px;
    max-width: 75%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


#Back {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px; /* Adjusted to fit header */
}



/* Logo Section */
#logos {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    background-color: black;
    padding: 20px;
}

.logo-container {
    display: flex;
    gap: 20px;
    animation: scroll 8s linear infinite;
}

#logos a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

#logos a:hover {
    transform: scale(1.1);
}

#logos img {
    width: 150px;
    height: auto;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

 
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 2%;
    width: 100%;
    position: fixed;
    bottom: 0;
}
