<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3N2YT6NEZ5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3N2YT6NEZ5');
</script>

    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="icon" href="/assets/img/icons/logo.png" type="image/x-icon">
    <meta name="p:domain_verify" content="99dec68c42107e83add3c292ec7ac2d0"/>
    {% seo %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/random">Random</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header> 
    <main class="content">
        {{ content }}
         
    </main>
    <footer>
        <a class="linkhai" href="/support">Support Me</a>
        <a class="linkhai" href="/readme">Readme</a>
        <a class="linkhai" href="/credits">Credits</a>
        <a class="linkhai" href="/contactus">Contact Us</a>
        <p style="font-size: 20px;">--- A Redlli Project ---</p>
        <p style="font-size: 15px;">©2025</p>
    </footer>

    <script src="/assets/js/mode.js"></script>
</body>
</html>

