<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="icon" href="/assets/img/icons/logo.png" type="image/x-icon">
    {% seo %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/random">Random</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header> 
    <main class="content">
        {{ content }}
         
    </main>
    <footer>
        <a class="linkhai" href="/support">Support Me</a>
        <a class="linkhai" href="/readme">readme</a>
        <a class="linkhai" href="/credits">credits</a>
        <p style="font-size: 20px;">--- A Redlli Project ---</p>
        <p style="font-size: 15px;">©2025</p>
    </footer>

    <script src="/assets/js/mode.js"></script>
</body>
</html>

