<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/pro.css">
    <link rel="icon" href="/assets/img/icons/logo.png" type="image/x-icon">
    {% seo %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/random">Random</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header> 
    <main class="content">
        {{ content }}
         <iframe width="384" height="60" style="border: none;" src="https://www.beepbox.co/player/#song=9n32sbk1l00e06t2ma7g0gj07r1i0o532T5v1u05f10u9qo1341d49HYr901i8ah00000h0E0T5v1u05f0qwx10p510d08H-JJAArrqiih999h0E1b6T1v6u01f30rc2mc2i2q021d19AbF8B3Q024bP8542E0T4v0u04f50s52i22n91232a0q00z6666ji8k8k3jS___Sv_W9f__RD__RJJJRAArrAzsATIJJIAAAAAzrqi9jrszrAzrrrrrrrADZ4AAAzrrrAAArrss0AAziiiArrriarDrzqh999brrrAzqgYzsL-SJAAArqkJHqjikikrizrHtBJJ199iiirrrAAAJJS0rrrsAAAJJJHAAw99habbCAYrDzh00E0T3v0u03f21250x2qwx30v41232fe10d08SSJJJAArrqi99999E0b014g000000000h40000000014h400000004h4h400000014h4h0000000p227FE-N78AsyhFH-zFZqywLAaqiY2VE-RO4hOd3AszmAt4ycQuDhQZdvIW0w2-GgA2Y2ZLhYwGK0aqYUnQ5Z3dupS0BZXhB_O8zHGXHKXbWXKOeKXKKXILuSKndm1jnD2-wLEbW2Y0"></iframe>
    </main>
    <footer>
        <a class="linkhai" href="/support">Support Me</a>
        <a class="linkhai" href="/readme">readme</a>
        <a class="linkhai" href="/credits">credits</a>
        <p style="font-size: 20px;">--- A Redlli Project ---</p>
        <p style="font-size: 15px;">©2025</p>
    </footer>

    <script src="/assets/js/mode.js"></script>
</body>
</html>

